/* webrx css */
:root {
    --width-webrx-cell: 6rem;
    --width-webrx-cell-first: 10rem;
    --height-webrx-table: 21.75rem;
    --color-webrx-data: var(--bs-body-color);
    --color-webrx-data-light: color-mix(in srgb, var(--bs-body-color) 50%, white);
    --color-selected-table-row: #bee3f9;
    --color-column-header: #b0b0b0;
}

.iari-table-display {
    margin-bottom:1rem;
}

.webrx-table {
    max-height:var(--height-webrx-table);
    overflow: scroll;
    overflowY: auto;
    /*background-color: #d1d2d4 ;*/
    color:var(--color-webrx-data);
}

.webrx-table th {
    max-width: var(--width-webrx-cell);
    min-width: var(--width-webrx-cell);
    text-align: center;
    color: var(--color-column-header);
}

.webrx-table th:first-child {
    max-width:var(--width-webrx-cell-first);
    min-width:var(--width-webrx-cell-first);
    text-align: left;
}

.webrx-table td {
    text-align: right;
}

.webrx-table td:first-child {
    text-align: left;
}

.webrx-table thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 200;
    /*border:3px solid black !important;*/
    box-shadow: inset 0 -1px 0 #ccc;
}

.webrx-table tr.table-row-selected {
    background-color: var(--color-selected-table-row) !important;
}

.webrx-summary-table {
    /*color:deeppink;*/
}
.webrx-summary-table tbody tr {
    /*background-color: darkseagreen;*/
    cursor: pointer;
}
.webrx-summary-table tbody tr:hover {
    color:var(--color-webrx-data-light);
}
.webrx-summary-table tbody tr.table-row-selected {
    color: black;
}


/* webrx-table-wrapper, webrx-table-element, and webrx-table-services
   aid in the more natural scrolling along detail tables */
.webrx-table-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.webrx-table-element {
    /*border: 3px solid palevioletred;*/
}
.webrx-table-main {
    flex-basis: auto;
}
.webrx-table-shim {
    flex-basis: auto;
}

.webrx-details-section {
    margin-left:3rem;
    margin-top:1rem;
}
.webrx-details-section h3 {
    font-weight: bold;
    font-size: 1.0rem;
}
