:root {
    --citation-data-border-radius: var(--iari-radius-large);
}

/* JSON editor component override */

.jer-editor-container {
    border-radius: 0 !important;
    /*font-size: 16px;*/
    /*line-height: 1;*/
    /*padding: 1em 1em 1em 2em;*/
    /*position: relative;*/
    /*text-align: left;*/
    max-width: inherit !important;
    height: 100% !important;
}

.citation-data-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.citation-data-header {
    margin-bottom: var(--iari-spacing-large) !important;
}
.citation-data-body {
    /*background-color: #20cc1e;*/
    flex-grow: 1;
    overflow: auto;
}

.citation-data-display-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.citation-data-display-header {

}

.citation-data-display-statistics > div {
    margin-bottom: var(--iari-spacing-small) !important;
}

.citation-data-display-caption {
    padding-bottom: var(--iari-spacing-small) !important;
}
.citation-data-display-caption-details {
    background-color: var(--iari-details-box-bg);
    border-radius: var(--iari-details-box-radius);
    border: var(--iari-box-border);
    padding: var(--iari-details-box-padding);
    margin-bottom: var(--iari-spacing-small);
}

.citation-data-display-body {
    flex-grow: 1;
    overflow: auto;
    border-radius: var(--citation-data-border-radius);
    border: 1px solid rgba(0, 0, 0, 0.075);
}

